@page
@model BlogApplication.Pages.Users.ProfileModel
@{
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<form method="post">
    <div class="card text-center" style="margin-top:80px;">
        <div class="card-header">
            <h2 class="text-info text-center">My Profile</h2>
        </div>
        <div class="card-body">
            <div class="container rounded border m-2 p-2">
                <div class="form-group row">
                    <label for="userName" class="col-sm-4 col-form-label">EmailAddress</label>
                    <div class="col-sm-5">
                        <input type="text" id="userName" name="userName" class="form-control" value="@Model.UserName" placeholder="EmailAddress" required/> <br>
                    </div>
                </div>
          @*      <div class="col-12">
                    <div class="form-group row">
                        <label for="emailAddress" class="col-sm-4 col-form-label">EmailAddress</label>
                        <div class="col-sm-5">
                            <input type="text" id="emailAddress" name="emailAddress" class="form-control" value="@Model.EmailAddress" placeholder="EmailAddress" required> <br>
                        </div>
                    </div>
                </div>*@
               @* <div class="col-12">
                    <div class="form-group row">
                        <label for="address" class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-5">
                            <input type="text" id="address" name="address" class="form-control" value="@Model.Address" placeholder="Address" required> <br>
                        </div>
                    </div>
                </div>*@
                <div class="col-12">
                    <div class="col-2">
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">
                            Change password
                        </button>
                    </div>
                </div>
            </div>            
        </div>
        <div class="card-footer text-muted">
            <button type="submit" class="btn btn-outline-info">Update Profile</button>
        </div>
    </div>
</form>

<!-- Modal for changePassword -->
         
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                  <form method="post" asp-page-handler="ChangePassword" asp-page="/Users/Profile">
                    <div class="row">
                        <div class=" form-group row">
                            <div class="col-5">
                                <label for="currentPassword">Current Password:</label><br>
                            </div>
                            <div class="col-7">
                                <input type="password" id="currentPassword" name="currentPassword" value=""><br>
                            </div>
                        </div><br /><br />
                        <div class=" form-group row">
                            <div class="col-5">
                                <label for="newPassword">New Password:</label><br>
                            </div>
                            <div class="col-7">
                                <input type="password" id="newPassword" name="newPassword" value=""><br><br>
                            </div>
                        </div>
                         <div class=" form-group row">
                            <div class="col-5">
                                <label for="confirmPassword">Confirm Password:</label><br>
                            </div>
                            <div class="col-7">
                                <input type="password" id="confirmPassword" name="confirmPassword" value=""><br><br>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="userName" value="@User.Identity.Name"/>
                    <div class="modal-footer">
                        <button type="submit" id="changePasswordBtn" class="btn btn-info">submit</button>
                    </div>                    
                </form>
            </div>
            
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(ViewData["ReturnMessage"] as string))
{
    @section Scripts {
    <script>
        // JavaScript code to show a popup alert
        window.onload = function () {
            alert('@ViewData["ReturnMessage"]');
        };
    </script>
    }
}